In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("sensor_data.csv")

In [21]:
df

   sensor_id     mean   std_dev
0    IAJ9206   7.4325  4.673614
1    NAI1549   9.2875  3.377080
2    MYD8706   7.0950  4.475156
3    NAH4736   8.7575  2.598012
4    IAJ9206   4.7950  4.624746
5    LZY4270   6.0400  3.179159
6    MUR8453   8.2925  4.171237
7    MYD8706   9.3725  3.683411
8    MZU6388   7.5175  3.927985
9    NAH4736   9.0550  3.513093
10   NAH4736   4.5450  4.270296
11   IAJ9206   5.3925  3.938879
12   NEW4797   4.2725  1.974682
13   IAJ9206   3.1150  1.933358
14   MYD8706   7.5425  3.927833
15   MUR8453   9.6225  1.653623
16   MUR8453   8.5875  2.466368
17   NEW4797   4.5875  3.756004
18   IAJ9206  10.4675  3.028402
19   IAJ9206   7.4650  4.471065

In [22]:
filtered_df = df[df['sensor_id'] == "IAJ9206"]
filtered_df

   sensor_id     mean   std_dev
0    IAJ9206   7.4325  4.673614
4    IAJ9206   4.7950  4.624746
11   IAJ9206   5.3925  3.938879
13   IAJ9206   3.1150  1.933358
18   IAJ9206  10.4675  3.028402
19   IAJ9206   7.4650  4.471065

In [23]:
result = 10 > filtered_df["mean"] + 2*filtered_df["std_dev"]
result.to_json()

'{"0":false,"4":false,"11":false,"13":true,"18":false,"19":false}'

In [24]:
df

   sensor_id     mean   std_dev
0    IAJ9206   7.4325  4.673614
1    NAI1549   9.2875  3.377080
2    MYD8706   7.0950  4.475156
3    NAH4736   8.7575  2.598012
4    IAJ9206   4.7950  4.624746
5    LZY4270   6.0400  3.179159
6    MUR8453   8.2925  4.171237
7    MYD8706   9.3725  3.683411
8    MZU6388   7.5175  3.927985
9    NAH4736   9.0550  3.513093
10   NAH4736   4.5450  4.270296
11   IAJ9206   5.3925  3.938879
12   NEW4797   4.2725  1.974682
13   IAJ9206   3.1150  1.933358
14   MYD8706   7.5425  3.927833
15   MUR8453   9.6225  1.653623
16   MUR8453   8.5875  2.466368
17   NEW4797   4.5875  3.756004
18   IAJ9206  10.4675  3.028402
19   IAJ9206   7.4650  4.471065

In [25]:


# Find rows where sensor_id is 'MLX' and increment mean and std_dev by 10%
df.loc[df['sensor_id'] == 'IAJ9206', ['mean', 'std_dev']] *= 1.10

df

   sensor_id      mean   std_dev
0    IAJ9206   8.17575  5.140976
1    NAI1549   9.28750  3.377080
2    MYD8706   7.09500  4.475156
3    NAH4736   8.75750  2.598012
4    IAJ9206   5.27450  5.087221
5    LZY4270   6.04000  3.179159
6    MUR8453   8.29250  4.171237
7    MYD8706   9.37250  3.683411
8    MZU6388   7.51750  3.927985
9    NAH4736   9.05500  3.513093
10   NAH4736   4.54500  4.270296
11   IAJ9206   5.93175  4.332767
12   NEW4797   4.27250  1.974682
13   IAJ9206   3.42650  2.126694
14   MYD8706   7.54250  3.927833
15   MUR8453   9.62250  1.653623
16   MUR8453   8.58750  2.466368
17   NEW4797   4.58750  3.756004
18   IAJ9206  11.51425  3.331242
19   IAJ9206   8.21150  4.918172