In [5]:
import pandas as pd
from flask import jsonify
import requests

In [6]:
df = pd.read_parquet("sensor_data.parquet")
df

   sensor_id       mean   std_dev
0    MUR8453  13.608810  4.931544
1    MXK6435  15.706133  4.203709
2    MUR8453   9.077420  3.827486
3    NEW4797  13.151278  6.380997
4    MYD8706  19.886138  5.325154
..       ...        ...       ...
75   IAJ9206  13.565750  3.027940
76   NAH4736   8.277500  4.521114
77   MYD8706  13.098250  5.014591
78   NAH4736  13.766500  2.521483
79   MUR8453   7.001500  3.587705

[80 rows x 3 columns]

In [7]:
sensor_id = "NAH4736"

In [9]:
df_sensor = df[df['sensor_id'] == sensor_id]

bool_series = 20 >= df_sensor["mean"] + 2*df_sensor["std_dev"]
result_df = pd.DataFrame({
    'result': bool_series
})
print(bool_series.to_dict())

{23: False, 24: False, 41: False, 43: True, 72: False, 76: True, 78: True}