In [31]:
import pandas as pd
from flask import jsonify

In [32]:
df = pd.read_parquet("sensor_data.parquet")

In [33]:
df

   sensor_id      mean   std_dev
0    NAH4736  13.80500  4.542670
1    MUR8453  11.78375  2.232010
2    MXK6435  12.16875  6.000510
3    MZU6388  16.31300  7.237051
4    MXK6435  11.30800  5.237008
5    MZU6388  12.78475  5.886070
6    MUR8453  13.37325  5.267174
7    MXK6435   9.55900  3.403491
8    MZU6388   8.15925  3.540794
9    MUR8453  11.19525  7.068035
10   IAJ9206   9.35825  1.826518
11   IAJ9206  15.93075  3.899028
12   NAH4736  11.01100  6.302734
13   IAJ9206  10.29875  5.458458
14   MYD8706  12.26775  4.736504
15   MYS2071  15.80700  4.929163
16   MUR8453   6.27550  4.429179
17   NEW4797  15.42750  5.444669
18   LZY4270   7.88150  3.627509
19   MXK6435  16.06550  2.820554

In [34]:
df_sensor = df[df['sensor_id'] == "MXK6435"]
df_sensor

   sensor_id      mean   std_dev
2    MXK6435  12.16875  6.000510
4    MXK6435  11.30800  5.237008
7    MXK6435   9.55900  3.403491
19   MXK6435  16.06550  2.820554

In [35]:
series_bool = 20 >= df_sensor["mean"] + 2*df_sensor["std_dev"]
series_bool

2     False
4     False
7      True
19    False
dtype: bool

In [36]:
series_bool.to_json()

'{"2":false,"4":false,"7":true,"19":false}'

In [38]:
jsn = jsonify(series_bool.to_json())
jsn

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
the current application. To solve this, set up an application context
with app.app_context(). See the documentation for more information.