In [27]:
import pandas as pd
from flask import jsonify
import requests

In [28]:
df = pd.read_parquet("sensor_data.parquet")

In [29]:
df

    id sensor_id     mean   std_dev
0    1   MXK6435  10.6475  5.781329
1    2   MYD8706   6.3875  3.389368
2    3   NAH4736   6.4600  3.014938
3    4   LZY4270  10.6600  5.648664
4    5   MZU6388  13.6000  3.628581
5    6   MYD8706  12.0300  5.724413
6    7   MXK6435   6.8125  4.138939
7    8   IAJ9206   9.2500  4.915826
8    9   LZY4270   9.9550  4.455572
9   10   MUR8453  15.7150  6.222015
10  11   IAJ9206  15.7500  3.187640
11  12   MYD8706  11.6600  5.197774
12  13   NAH4736  17.3700  0.905456
13  14   MZU6388   5.7900  5.368599
14  15   LZY4270   9.1625  4.902241
15  16   MUR8453  12.2675  3.709686
16  17   NAH4736   7.3600  6.986634
17  18   MXK6435   7.2900  6.218718
18  19   MXK6435   7.8025  4.973728
19  20   MYS2071   8.9925  5.509557

In [30]:
sensor = "MXK6435"
predict_url = "http://127.0.0.1:5000/{sensor_id}/predict"
data = {"values": 10}

In [31]:
response = requests.post(predict_url.format(sensor_id=sensor), json=data)
response_data = response.json()
print(response_data) 
df_sensor_alert = pd.DataFrame({
    'sensor_id': [sensor] * len(response_data),
    'id': [item['id'] for item in response_data],
    'alert': [item['result'] for item in response_data]
})

[{'id': 1, 'result': False}, {'id': 7, 'result': True}, {'id': 18, 'result': True}, {'id': 19, 'result': True}]