In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sensor_data.csv")

In [3]:
df

   sensor_id     mean   std_dev
0    MZU6388   8.1275  4.304314
1    NAH4736   2.3950  1.006318
2    MYS2071   9.3650  4.463701
3    MYD8706  12.2175  5.988975
4    LZY4270   7.4850  5.007477
..       ...      ...       ...
95   MZU6388  13.7925  3.207291
96   IAJ9206  13.3650  4.767544
97   MZU6388  10.7800  7.156162
98   LZY4270   9.7700  4.484769
99   NAH4736  10.5225  8.129737

[100 rows x 3 columns]

In [4]:
filtered_df = df[df['sensor_id'] == "IAJ9206"]
filtered_df

   sensor_id     mean   std_dev
6    IAJ9206   9.6575  6.305087
8    IAJ9206   6.9475  4.680712
21   IAJ9206  14.1175  6.676041
25   IAJ9206   9.7450  3.865893
45   IAJ9206   9.8625  5.567286
52   IAJ9206   9.0800  6.112499
57   IAJ9206  11.1150  6.036773
64   IAJ9206   7.9475  4.966072
73   IAJ9206  14.1425  3.327149
83   IAJ9206   7.2825  7.602649
85   IAJ9206   6.5500  5.625722
87   IAJ9206   9.6700  5.230569
89   IAJ9206  11.1525  2.570471
96   IAJ9206  13.3650  4.767544

In [5]:
result = 10 > filtered_df["mean"] + 2*filtered_df["std_dev"]
result.to_json()

'{"6":false,"8":false,"21":false,"25":false,"45":false,"52":false,"57":false,"64":false,"73":false,"83":false,"85":false,"87":false,"89":false,"96":false}'