In [8]:
import pandas as pd
from flask import jsonify
import requests

In [9]:
df = pd.read_parquet("sensor_data.parquet")
df

    id sensor_id      mean   std_dev
0    1   MXK6435   7.55425  2.751276
1    2   MUR8453   7.30400  3.395968
2    3   NAI1549   9.49025  1.788314
3    4   MYS2071  13.35125  4.932395
4    5   MXK6435  12.59225  5.216543
5    6   MYS2071  15.27625  1.982554
6    7   MYS2071  13.76925  5.959116
7    8   MYS2071   5.00775  3.410743
8    9   NAH4736  12.60325  8.164644
9   10   NEW4797  13.48325  5.467515
10  11   MYS2071  15.96100  6.696783
11  12   MXK6435  14.63550  2.002754
12  13   NAI1549   9.47375  6.145402
13  14   MXK6435  11.36025  4.442434
14  15   MUR8453  13.63725  4.602512
15  16   MZU6388   7.42775  3.219855
16  17   MXK6435  13.04600  5.592459
17  18   MYS2071  11.19800  6.402714
18  19   MXK6435   8.31325  3.409512
19  20   NEW4797   9.52600  4.167991

In [10]:
filtered_df = df[df['sensor_id'] == "MZU6388"]
filtered_df

    id sensor_id     mean   std_dev
15  16   MZU6388  7.42775  3.219855

In [11]:
result = filtered_df.to_dict(orient='records')
type(result)

list

In [12]:
weights_url = "http://127.0.0.1:5000/{sensor_id}/weights"

In [14]:
response = requests.get(weights_url.format(sensor_id = "MZU6388"))
print(f"{response.json()}\n")
if response.status_code == 200:
	print("status 200")

[{'id': 16, 'mean': 7.427750000000001, 'sensor_id': 'MZU6388', 'std_dev': 3.219855392715642}]

status 200

In [1]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Convert to dictionary of dictionaries
dict_of_dicts = df.to_dict(orient='index')
print(dict_of_dicts)

{0: {'A': 1, 'B': 4}, 1: {'A': 2, 'B': 5}, 2: {'A': 3, 'B': 6}}

In [2]:
# Convert to dictionary of lists
dict_of_lists = df.to_dict(orient='list')
print(dict_of_lists)

{'A': [1, 2, 3], 'B': [4, 5, 6]}

In [3]:
# Convert to dictionary of lists
dict_of_lists = df.to_dict(orient='records')
print(dict_of_lists)

[{'A': 1, 'B': 4}, {'A': 2, 'B': 5}, {'A': 3, 'B': 6}]