In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sensor_data.csv")

In [3]:
df.head()

  sensor_id     mean    std_dev
0   NAH4736  40.8275  26.243528
1   MYD8706  26.7200  16.642456
2   MZU6388  74.7650  14.612571
3   NAI1549  58.4475  31.712086
4   MYD8706  52.2650  26.298457