In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("sensor_data.csv")

In [9]:
df

   sensor_id     mean    std_dev
0    MYD8706  47.3500  20.046991
1    NAI1549  45.4125  13.205144
2    MYD8706  60.8300  23.204305
3    IAJ9206  48.5825  35.127580
4    NEW4797  57.4325  35.956178
5    MYD8706  86.3000   7.380105
6    IAJ9206  30.8600  20.133245
7    NAI1549  47.5950  29.930540
8    NEW4797  57.1800  25.984462
9    MZU6388  48.9850  23.561753
10   MZU6388  47.0400  20.856570
11   MYS2071  49.8775  33.143924
12   LZY4270  22.4450  12.312588
13   MYD8706  58.9600  25.194252
14   NAH4736  50.0100  43.595417
15   MYS2071  29.5125  24.292299
16   NEW4797  35.3550  28.935416
17   NEW4797  69.8475  39.296996
18   MYS2071  64.6225  12.086024
19   IAJ9206  30.7600  23.522684

In [13]:
filtered_df = df[df['sensor_id'] == "IAJ9206"]
filtered_df

   sensor_id     mean    std_dev
3    IAJ9206  48.5825  35.127580
6    IAJ9206  30.8600  20.133245
19   IAJ9206  30.7600  23.522684

In [16]:
result = 10 > filtered_df["mean"] + 2*filtered_df["std_dev"]
result.to_json()

'{"3":false,"6":false,"19":false}'